<h1>Users#index</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %>
      <% if user.access_locked? %>
        <%= link_to "アンロック", unlock_user_path(user), method: :patch %>
      <% else %>
        <%= link_to "ロック", lock_user_path(user), method: :patch %>
      <% end %>      
    </li>
  <% end %>
</ul>